
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@200&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&display=swap');
:root{
    --red:#EF233C;
}
body{
    margin:0;
    height:100vh;
    background-color:#000814;
    color: white;
    font-family: 'Anton', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;

}
.nav-item a{
    color: white;
}
.nav-item a:hover{
    color: red;
}
/* .para{
    margin-left: 30%;
} */

.h-5{
    min-height: 450px;
}
.img1{
    width: 50%;
    margin: 20px;
    filter: drop-shadow(10px 10px 70px white);
}
.borderr{
    border: none;
}
.aboutimage{
    width: 200px;
    height: 250px;
}
.aboutcard{
    width:80%;
}
.projectcard{
    background-color: black;
    color: white;
}
.card img{
    height: 300px;
}

.title{
    text-align: center;
    color: red;
}

.icons i{
    margin-left: 10px;
    color:var(--red);
}